* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    padding: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    letter-spacing: 1px;
    background: url('./public/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

section {
    max-width: 64rem;
    margin: 0 auto;
    display: grid;
    align-content: space-between;
    height: clamp(21rem, 68vh, 60rem);
}

.img_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title_img {
    height: 3.3rem;
    width: fit-content;
}

.logo_img {
    height: 6rem;
    width: fit-content;
}

.wrapper {
    display: grid;
    padding: 0 1rem ;
    gap: 3vh;
}

h2 {
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
    transition: 200ms ;
    width: fit-content;
}

h2:hover {
    letter-spacing: 0.2rem;
    color: #bffcff;
    text-shadow: 0px 0px 30px rgba(191, 252, 255, 1);
}

h3 {
    font-size: 1.5rem;
    line-height: 1.5;
    max-width: 36rem;
}

span {
    word-spacing: 4px;
}

a {
    display: block;
    width: fit-content;
    color: white;
    font-size: 1.4rem;
    text-decoration: none;
    padding: 1rem 1.5rem;
    margin: 1rem 0 0 3rem;
    border: 1px solid white;
    outline: 1px solid;
    transition: 100ms;
}

a:hover {
    outline-offset: -7px;
}

@media only screen and (max-width: 640px) {

    body {
        padding: 1rem;
    }

    .title_img {
        height: 1.7rem;
    }

    .logo_img {
        height: 4rem;
    }

    h2 {
        font-size: 2.3rem;
    }

    a {
        margin-left: 1.5rem;
    }
}